<div class="content">
  <div class="container">
    <div class="w-100 position-relative d-flex justify-content-center">
      <div class="podium col-lg-6 col-md-8 col-sm-12 px-0">
        <div class="scoreboard">
          <p class="font-weight-bold mb-0">{{secondPlace?.firstName}}</p>
          <p>points: {{secondPlace?.points}}</p>
          <div class="tweede"><img src="../../assets/images/tweede.png" alt=""></div>
        </div>
        <div class="scoreboard">
          <p class="font-weight-bold mb-0">{{firstPlace?.firstName}}</p>
          <p>points: {{firstPlace?.points}}</p>
          <div class="eerste"><img src="../../assets/images/eerste.png" alt=""></div>
        </div>
        <div class="scoreboard">
          <p class="font-weight-bold mb-0">{{thirdPlace?.firstName}}</p>
          <p>points: {{thirdPlace?.points}}</p>
          <div class="derde"><img src="../../assets/images/derde.png" alt=""></div>
        </div>
      </div>
    </div>

    <div class="leaderboard">
      <table class="table table-box-shadow">
        <tr>
          <th style="width: 20%">Place:</th>
          <th style="width: 40%">Name:</th>
          <th style="width: 40%">Points:</th>
        </tr>
        <tr *ngFor="let item of userList; let i = index" class="bg-white">
          <td>{{i+4}}</td>
          <td>{{item?.firstName}} {{item?.lastName}}</td>
          <td>{{item?.points}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
