<div class="content">
  <div class="box">
    <table class="table">
      <tr >
        <th>Name:</th>
        <th>Date:</th>
        <th>Description:</th>
        <th colspan="2">Actions</th>
      </tr>
      <tr *ngFor="let item of items">
        <td>{{item.name}}</td>
        <td>{{item.date}}</td>
        <td>{{item.description}}</td>
        <td><i class="far fa-check-circle" (click)="accept(item)"></i></td>
        <td><i class="far fa-times-circle" (click)="decline(item)"></i></td>
      </tr>
    </table>
  </div>
</div>
