<div class="container">
  <div class="form-group d-flex flex-sm-row flex-column">
    <div class="d-flex flex-row mt-2 w-100">
      <input id="reward" type="text" class="form-control reward-search-input input-50" placeholder="Search a reward..."
             #rewardSearch
             (keyup)="search(rewardSearch.value)"/>
      <button class="btn reward-search-button input-50">Search</button>
    </div>
    <select name="filter-rewards" id="filter-rewards" class="input-50 mt-2"
            #filterRewards
            (change)="filter(filterRewards.value)">
      <option value="0" selected hidden>&nbsp; Filter op:</option>
      <option value="1">Punten (laag -> hoog)</option>
      <option value="2">Punten (hoog -> laag)</option>
    </select>
  </div>

  <div class="rewards" *ngFor="let item of items">
    <div class="card-columns mt-5 cards-rewards">
      <div class="card">
        <div class="card-header text-center font-weight-bold align-items-center text-uppercase position-relative">
          {{item.name}}
          <i class="fas fa-ellipsis-v position-absolute reward-dots-button" (click)="toggleClass(item)"></i>
        </div>

        <div class="position-relative">
          <img class="card-img-bottom" src="{{item.image}}" alt="Card image cap">
          <div class="overlay-reward-img">
            {{item.price}}
          </div>
        </div>

        <div class="btn-group-vertical popup-reward" [ngbCollapse]="!item.active" (click)="toggleClass(item)">
          <a routerLink="/home" class="btn btn-secondary">Remove</a>
          <a routerLink="/home" class="btn btn-secondary">Edit</a>
        </div>
      </div>
  </div>
    </div>
  </div>



