.podium {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 600px;
}

.eerste {
  background-color: #333;
  height: 200px;
  text-align: center;
}

.eerste img {
  width: 70px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.tweede img {
  width: 70px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.derde img {
  width: 70px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.tweede {
  background-color: #333;
  height: 150px;
  padding: 2px;
  text-align: center;
}

.derde {
  background-color: #333;
  height: 100px;
  padding: 2px;
  text-align: center;
}

.leaderboard {
  margin-top: 50px;
}

.scoreboard p {
  text-align: center;
}

.scoreboard {
  width: 32%;
  max-width: 200px;
}

.table-box-shadow {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.20);
}
