#login {
  width: 100% !important;
  height: 100%;
  position: absolute;
  //left: -50px;
  z-index: 1000 !important;

  .card {
    width: 50%;
  }
}

@media (max-width: 576px) {
  #login {
    position: absolute;
    z-index: 1000 !important;
    top: 0;
    height: 100vh;
    width: 100%;
    //left: -50px;

    .card {
      width: 100%;
    }
  }
}
