<div id="hamburger" (click)="open = !open" [ngClass]="{'open': open}">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="nav-bar w-100">
  <div class="title w-100 d-flex justify-content-between align-items-center"><span class="">{{user?.firstName}} {{user?.lastName}}</span> <span class="mr-5 pr-3 font-weight-normal"><strong>{{user?.points}}</strong> points</span></div>
  <div class="profile"></div>
</div>
<div class="side-nav" [ngClass]="{'open': open}">
  <div class="title-wrapper">
    <div class="title">Rewards</div>
  </div>

  <ul>
    <div class="link-wrapper" routerLink="/applications-admin" routerLinkActive="active"><div class="cover"><i class="fas fa-file-contract"></i></div><li>Applications</li></div>
    <div class="link-wrapper" routerLink="/exercises-admin" routerLinkActive="active"><div class="cover"><i class="fas fa-dumbbell"></i></div><li>Exercises</li></div>
    <div class="link-wrapper" routerLink="/rewards-admin" routerLinkActive="active"><div class="cover"><i class="fas fa-gift"></i></div><li>Rewards</li></div>
<!--    <div class="link-wrapper"><div class="cover"><i class="fas fa-info"></i></div><li></li></div>-->
    <div class="link-wrapper" routerLink="/logout" routerLinkActive="active"><div class="cover"><i class="fas fa-unlock"></i></div><li>Logout</li></div>
  </ul>
</div>
