<div class="card">
  <div class="card-header text-center font-weight-bold align-items-center text-uppercase position-relative">
    {{item.title}}
    <i class="fas fa-ellipsis-v position-absolute reward-dots-button" (mouseenter)="toggleClass(item)" (mouseleave)="toggleClass(item)"></i>
  </div>

  <div class="position-relative">
    <div *ngIf="item?.image == null || item?.image == ''">
      <img class="card-img-bottom "
           src="https://gorillasports.nl/img/products/100694137/2010/dumbellset-30-kg-gietijzer-zwart.jpg"
           alt="Card image cap">
    </div>
    <div *ngIf="item?.image != null && item.image != ''">
      <img class="card-img-bottom " src="{{item?.image}}" alt="Card image cap">
    </div>
    <div class="overlay-reward-img">
      {{item.points}}
    </div>
  </div>

  <div class="btn-group-vertical popup-reward" [ngbCollapse]="!item.active" (mouseleave)="toggleClass(item)">
    <a routerLink="/exercises/detail/{{item.id}}" class="btn btn-secondary">Details</a>
    <a routerLink="/home" class="btn btn-secondary">Register</a>
  </div>
</div>
