<!--<h1>Hi {{currentUser.firstName}}!</h1>-->
<!--<p>You're logged in with Angular 6!!</p>-->
<!--<h3>All registered users:</h3>-->
<!--<ul>-->
<!--<li *ngFor="let user of users">-->
<!--{{user.username}} ({{user.firstName}} {{user.lastName}})-->
<!-- - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>-->
<!--</li>-->
<!--</ul>-->
<!--<p><a [routerLink]="['/login']">Logout</a></p>-->

<div class="container">
  <div class="form-group d-flex flex-row">
    <input id="reward" type="text" class="form-control reward-search-input input-50" placeholder="Search a reward..."/>
    <button class="btn reward-search-button input-50">Search</button>
  </div>


  <!--<div class="card-deck" style="width: 18rem;">-->
    <!--<div class="card-header text-center font-weight-bold align-items-center text-uppercase position-relative">-->
      <!--Reis Aruba <i class="fas fa-ellipsis-v position-absolute reward-dots-button" (click)="popupHidden = !popupHidden"></i>-->
    <!--</div>-->
    <!--<img class="card-img-bottom" src="https://media.tuicontent.nl/p/header/vakantie-aruba.jpg" alt="Card image cap">-->

    <!--<div class="btn-group-vertical popup-reward" [ngbCollapse]="popupHidden">-->
      <!--<a routerLink="/home" class="btn btn-secondary">Bekijk</a>-->
      <!--<a routerLink="/home" class="btn btn-secondary">Registreer</a>-->
    <!--</div>-->
  <!--</div>-->
</div>
